<div class="form-wrapper">
  <h1>Add New Inventory</h1>

    <%= render "form", inventory: @inventory %>

  <div class="back-btn">
    <%= link_to "Back to inventories", inventories_path %>
  </div>
</div


