* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;

  --color-primary: #398404;
  --color-primary-light: #201717;
  --color-text-orange: #201717;
  --color-text-red: #c00;
  --color-text-black: #353333;
  --color-text-gray-light: #535151;
  --color-text-gray: #797979;
}

.navbar {
  background: linear-gradient(135deg, #5324c3, #ff00b1);
  padding: 10px;
}

.navbar-brand {
  font-weight: bold;

  --bs-navbar-brand-font-size: 3.25rem;

  color: black;
  text-decoration: none;
  margin-left: 2%;
}

.nav-link {
  font-size: 1rem;

  --bs-navbar-nav-link-padding-x: 2.5rem;

  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #000;
  text-shadow: 0 0 15px rgba(59, 58, 58, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

.max-width {
  width: 100%;
}

.table {
  width: 90% !important;
  margin: 20px auto;
  min-width: 50%;
  border: 3px dashed black;
  border-radius: 5px;
  border-spacing: 0;
  box-shadow: 8px 9px 11px rgba(120, 121, 121, 0.3);
  margin-bottom: 32px;
  font-size: 1.5rem;
  background-color: black;
  color: white;
}

.table th {
  font-weight: 600;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 24px;
}

.table th:first-child {
  min-width: 30%;
}

.table td {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--color-text-gray-light);
}

.table td:first-child {
  width: 30%;
}

.table tr:not(:first-child):hover {
  background-color: var(--color-primary-light);
}

.table td:first-child,
.table th:first-child {
  padding-left: 24px;
}

.bold {
  font-weight: 600;
}

.custom-button-width {
  width: 100px;
}

.navbar-nav .nav-link {
  margin-right: 5px;
}

.navbar-nav .nav-link.sign-up-button {
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
}

.navbar-nav .nav-link.sign-up-button:hover {
  background-color: #45a049;
}

.navbar-nav .nav-link.login-button {
  background-color: #2196f3;
  color: white;
  border-radius: 4px;
}

.navbar-nav .nav-link.login-button:hover {
  background-color: #0b7dda;
}

.navbar-nav .nav-link.sign-in-button {
  background-color: #ffc107;
  color: white;
  border-radius: 4px;
}

.navbar-nav .nav-link.sign-in-button:hover {
  background-color: #e0a800;
}

.public_recipe_list {
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1rem auto;
  list-style: none;
  padding: 1rem;
  border: 2px solid rgb(117, 116, 116);
}

.recipe_user h3 {
  font-size: larger;
  font-weight: bold;
}

.recipe_user p {
  font-size: medium;
  font-weight: bold;
}

.recipe_price {
  font-size: large;
}

.field input[type="email"],
.field input[type="password"],
.field input[type="text"] {
  width: 100%;
}

.actions {
  margin-top: 1rem;
}

.actions input[type="submit"] {
  padding: 5px 15px !important;
  font-size: 16px;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-footer a {
  text-decoration: none;
  font-size: 20px;
}

.collapse {
  margin-right: 2%;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 95%;
}

.nav-item {
  color: #000;
  font-size: 20px;
  margin-top: 0% !important;
}

.nav-item .nav-link {
  color: #fff;
  font-weight: bold;
  padding: 0 !important;
}

.nav-item .nav-link:hover {
  color: #4e08f3;
  background-color: #f7f4f4;
  border: 1px solid #b5b3b9;
  padding: 2.5px 5px !important;
}

.nav-item > form {
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px black;
  padding: 2.5px 5px !important;
}

.nav-item > form .nav-link:hover,
.nav-item > form:hover {
  background-color: #f7f4f4;
  padding: 2.5px 5px !important;
  border: none;
}

.add-btn button {
  border: none;
  background-color: whitesmoke;
}

.add-btn button:hover {
  background-color: #c8f4f4;
  font-size: large;
  font-weight: bold;
}

.d-flex,
.d-block,
.steps {
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.d-flex a {
  padding: 10px 15px;
}

@media (min-width: 992px) {
  .nav-item {
    margin-top: 1.5rem;
    padding: 0 0.5rem;
  }
}
