#foods,
#recipes,
#inventories {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 1.5rem auto;
}

.list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  width: 97.5%;
  height: 7.5px;
  background-color: #000;
  padding: 0;
  margin-top: 0.25rem !important;
  margin-bottom: 0 !important;
  top: 20px;
  border: none;
  border-radius: 45%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 42vw;
  background-color: #efefef;
  padding: 1rem;
  margin: auto;
}

.form-wrapper form {
  width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
}

.container form label,
.container form input {
  padding: 10px;
  font-size: 15px;
}

.container form input[type="submit"] {
  border: 1px solid black;
  border-radius: 5px;
  width: auto;
  padding: 10px;
  align-self: center;
}

.back-btn {
  border-radius: 35%;
  align-self: flex-end;
}

.add-btn {
  border-radius: 5px;
  align-self: flex-end;
  margin-right: 2rem;
}

.add-btn,
.back-btn {
  width: fit-content;
  padding: 10px;
  background-color: whitesmoke;
  color: black;
  font-size: 17px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
  cursor: pointer;
}

.add-btn a,
.back-btn a {
  text-decoration: none;
  color: black;
}

.add-btn:hover,
.back-btn:hover {
  background-color: #c8f4f4;
  border: 1px solid #0f87e3;
  box-shadow: 1px 1px 1px 1px #0f87e3;
  font-size: large;
  font-weight: bold;
}

.remove-btn {
  width: fit-content;
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  background-color: whitesmoke;
  color: black;
  font-size: 17px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
  cursor: pointer;
}

.table td:first-child,
.table th:first-child {
  width: auto;
}

.list-foods .table {
  font-size: 1.5rem;
}

.inventory-food {
  display: flex;
  flex-direction: column;
}

.inventory-food .add-btn {
  align-self: end;
}

/* Path: app\assets\stylesheets\food.css */
